<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% extends "layout.html" %}
  {% block title %}Kirjaudu sisään{% endblock %}
</head>
<body>
  {% block content %}
 <h2>Kirjaudu sisään</h2>
 <p>
  <form action="/check-login" method="POST">
    <p>
      Käyttäjätunnus: <br>
      <input type="text" name="username">
    </p>
    <p>
      Salasana: <br>
      <input type="password" name="password">
    </p>
    <input type="submit" value="Kirjaudu">
  </form>
 </p>
 {% endblock %}
</body>
</html>