{% extends "layout.html" %}
{% block title %}Muokkaa reseptiä{% endblock %}
{% block content %}
<div class="content">
  <h2>Muokkaa reseptiä</h2>
  <form action="/execute-modification" method="POST" onsubmit="return check(this)">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="recipe_id" value="{{ recipe_id }}">
    Otsikko: <br>
    <p>
      <input class="recipe" type="text" name="title" value="{{ title }}" maxlength="50">
    </p>
    Kuvaus: <br>
    <p>
      <textarea name="description" maxlength="200">{{ description }}</textarea>
    </p>
    Ainesosat ja määrät: <br>
    <p>
      {% for i in ingredients %}
      <input class="recipe" type="text" name="ingredient" value="{{ i }}" maxlength="100">
      {% endfor %}
      <input class="recipe" type="text" name="ingredient" maxlength="100">
      <input class="recipe" type="text" name="ingredient" maxlength="100">
    </p>
    Ohje: <br>
    <p>
      <textarea name="instruction" maxlength="2000">{{ instruction }}</textarea>
    </p>
    Tagit: <br>
    <p>
      {% for t in tags %}
      {% if t[1] in recipetags %}
      <input type="checkbox" name="tag" value="{{ t[0] }}" checked> {{ t[1] }}
      {% else %}
      <input type="checkbox" name="tag" value="{{ t[0] }}"> {{ t[1] }}
      {% endif %}
      {% endfor %}
    </p>
    <input type="submit" value="Tallenna">
    <a href="/recipe/{{ recipe_id }}"><button type="button">Peruuta</button></a>
  </form>
</div>
<script>
  function check(form) {
    if (form.title.value.length == 0) {
      alert("Anna reseptille otsikko");
    } else if (form.title.value.length > 50) {
      alert("Otsikon maksimipituus on 50 merkkiä");
    } else if (form.description.value.length > 200) {
      alert("Kuvauksen maksimipituus on 200 merkkiä");
    } else if (form.instruction.value.length > 2000) {
      alert("Ohjeen maksimipituus on 2000 merkkiä");
    } else {
      return true;
    }
    return false;
  }
</script>
{% endblock %}