<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% extends "layout.html" %}
  {% block title %}Luo tunnus{% endblock %}
</head>
<body>
  {% block content %}
  <h2>Luo käyttäjätunnus</h2>
  <p>
    Käyttäjätunnuksen on oltava 3-20 merkkiä pitkä. 
    Salasanan on oltava vähintään 8-32 merkkiä pitkä ja 
    sen pitää sisältää sekä pieniä että isoja kirjaimia.
  </p>
  <form action="/create-user" method="POST" onsubmit="return check(this)">
    <p>
      <input type="text" name="username" placeholder="Käyttäjätunnus" minlength="3" maxlength="20">
    </p>
    <p>
      <input type="password" name="password" placeholder="Salasana" minlength="8", maxlength="32">
    </p>
    <p>
      <input type="password" name="password_check" placeholder="Salasana uudelleen" minlength="8", maxlength="32">
    </p>
    <p>
      <input type="submit" value="Luo tunnus">
    </p>
  </form>
  <script>
    function check(form) {
      if (form.username.value.length < 3) {
        alert("Käyttäjätunnus on liian lyhyt.");
      } else if (form.username.value.length > 20) {
        alert("Käyttäjätunnus on liian pitkä.");
      } else if (form.password.value.length < 8) {
        alert("Salasana on liian lyhyt.");
      } else if (form.password.value.length > 32) {
        alert("Salasana on liian pitkä.");
      } else if (form.password.value.search(/[a-z]/) < 0 || form.password.value.search(/[A-Z]/) < 0) {
        alert("Salasanan pitää sisältää pieniä ja suuria kirjaimia.");
      } else if (form.password.value != form.password_check.value) {
        alert("Salasanat eivät täsmää.");
      } else {
        return true;
      }
      return false;
    }
  </script>
  {% endblock %}
</body>
</html>