<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ recipe[0] }}</title>
</head>
<body>
  <h2>{{ recipe[0] }}</h2>
  <p>
    Lisännyt käyttäjä {{ creator }}
  </p>
  <p>
    {{ recipe[1] }}
  </p>
  <p>
    <ul>
      {% for i in ingredients %}
      <li>{{ i[0] }}</li>
      {% endfor %}
    </ul>
  </p>
  <p>
    {{ recipe[2] }}
  </p>
  <hr>
  <p>
    Kommentit: <br>
    {% for c in comments %}
    Lähettäjä: {{ c[0] }} Aika: {{ c[2].strftime("%Y-%m-%d %H:%M:%S") }} <br>
    {{ c[1] }}
    <hr>
    {% endfor %}
  </p>
  {% if session.username %}
  <p>
    Lisää kommentti: <br>
    <form action="/add-comment" method="POST">
      <p>
        <input type="hidden" name="recipe_id" value="{{ id }}">
        <textarea name="comment" rows="5" cols="40"></textarea>
      </p>
      <input type="submit" value="Lisää">
    </form>
  </p>
  {% else %}
  <p>
    Kirjaudu sisään kommentoidaksesi.
  </p>
  {% endif %}
  <p>
    <a href="/">Etusivulle</a>
  </p>
</body>
</html>